<!DOCTYPE html>
<div class="tool-pendler-animation">
    <div class="form-group">
        <select id="select-kreis" class="form-control">
            <option disabled selected hidden><%=chooseDistrict%></option>
            <% kreise.forEach(function (element) { %>
                <% if (element === kreis) { %>
                    <option selected><%= element %></option>
                <% }
                else { %>
            <option><%= element %></option>
            <% } %>
            <% }); %>
        </select>
    </div>
    <% if (kreis !== "") { %>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <input type="checkbox" id="pendler-check-gemeinde"
                    <%= featureType === wfsappGemeinde ? "checked" : "" %>
                />
            </span>
            <select id="select-gemeinde" class="form-control"
                <%= featureType === wfsappGemeinde ? "" : "disabled" %>
            >
                <option disabled selected hidden><%=chooseBorough%></option>
                <% gemeinden.forEach(function (element) { %>
                    <% if (typeof gemeinde !== "undefined" && element === gemeinde) { %>
                        <option selected><%= element %></option>
                    <% }
                    else { %>
                <option><%= element %></option>
                <% } %>
                <% }); %>
            </select>
        </div>
    </div>

    <div class="form-group">
        <select id="select-trefferAnzahl" class="form-control">
            <option disabled selected hidden><%=relationshipsToDisplay%></option>
            <option value="top5"
                <%= (typeof trefferAnzahl === "undefined" || trefferAnzahl === "top5") ? "selected" : "" %>><%=top5%></option>
            <option value="top10"
                <%= (typeof trefferAnzahl !== "undefined" && trefferAnzahl === "top10") ? "selected" : "" %>><%=top10%></option>
            <option value="top15"
                <%= (typeof trefferAnzahl !== "undefined" && trefferAnzahl === "top15") ? "selected" : "" %>><%=top15%></option>
            <!-- <option value="alle" <%= (typeof trefferAnzahl !== "undefined" && trefferAnzahl === "alle") ? "selected" : "" %> >Alle</option> -->
        </select>
    </div>

    <div class="radio">
        <label class=" radio-inline"
            <%= featureType === wfsappGemeinde && typeof gemeinde === "undefined" ? "id='mouseOverTarget'" : "" %>
        >
            <input type="radio" name="direction" value="wohnort"
                <%= typeof direction !== "undefined" && direction === "wohnort" ? "checked" : "" %>
                <%= featureType === wfsappGemeinde && typeof gemeinde === "undefined" ? "disabled" : "" %>
            >
            <%=domicile%>
        </label>
        <label class=" radio-inline"
            <%= featureType === wfsappGemeinde && typeof gemeinde === "undefined" ? "id='mouseOverTarget'" : "" %>
        >
            <input type="radio" name="direction" value="arbeitsort"
                <%= typeof direction !== "undefined" && direction === "arbeitsort" ? "checked" : "" %>
                <%= featureType === wfsappGemeinde && typeof gemeinde === "undefined" ? "disabled" : "" %>
            >
            <%=workplace%>
        </label>
        <div class="tooltip">
            <span class="tooltiptext"><%=chooseBorough%></span>
        </div>
    </div>

    <% if (typeof direction !== "undefined") { %>
        <% if (pendlerLegend.length > 0) { %>
            <table class="table">
                <% pendlerLegend.forEach(function(gemeinde){ %>
                <tr>
                    <td>
                        <span class="form-group pull-left animation_legend" style="background-color:<%= gemeinde.color %>"></span>
                    </td>
                    <td>
                        <%= gemeinde.name %>: <%= gemeinde.anzahlPendler %> <%=people%>
                    </td>
                </tr>
                <% }); %>
            </table>
            <hr>
            <div class="form-group">
                <% if (animating === true) { %>
                    <button class="btn btn-default pull-right reset">
                        <span class="glyphicon glyphicon-stop"></span>&nbsp;<%=reset%>
                    </button>
                <% }
                else { %>
                    <button class="btn btn-default pull-right start">
                        <span class="glyphicon glyphicon-play"></span>&nbsp;<%=start%>
                    </button>
                <% } %>
                <div class="animation_buttons_clear"></div>
            </div>
            <div class="form-group">
                <button class="btn btn-default btn-remove-features">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;<%=deleteGeometries%>
                </button>
            </div>
        <% }
        else if (emptyResult) { %>
            <p class="keinePendlerBewegungen"><%=noCommutersKnown%></p>
        <% } %>
    <% } %>
    <% } %>
</div>