<!DOCTYPE html>
<%if (Array.isArray(selectedFeaturesWithRenderInformation) && selectedFeaturesWithRenderInformation.length > 0) {%>
    <div class="select-features-tables">
        <%selectedFeaturesWithRenderInformation.forEach(function (obj, index) {%>
            <%if (obj.hasOwnProperty("properties") && Array.isArray(obj.properties) && obj.properties.length > 0) {%>
                <table class="table table-striped table-bordered">
                    <tbody>
                        <%obj.properties.forEach(function (arr) {%>
                            <%if (!Array.isArray(arr) || arr.length !== 2) { return; }%>
                            <tr>
                                <td><%=arr[0]%></td>
                                <td><%=arr[1]%></td>
                            </tr>
                        <%});%>
                    </tbody>
                </table>
            <%} else {%>
                <p><%=propertylessFeature%></p>
            <%}%>
            <a href="#" class="select-features-zoom-link" id="<%=index%>-selectFeatures-feature"><%=zoomToFeature%></a>
            <%if (index !== selectedFeaturesWithRenderInformation.length - 1) {%>
                <hr />
            <%}%>
        <%});%>
    </div>
<%} else {%>
    <span><%=noFeatureChosen%></span>
<%}%>
